.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.logo {
  margin-right:15px;
}


.heroContent {
  background-color: #424242;
  padding: 64px 0px 48px;
  color:#fff;
}

.heroButtons {
  margin-top: 48px;
}

.cardGrid {
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  height: '100%';
  display: 'flex';
  flex-direction: 'column';
}

.cardMedia {
  padding-top: '56.25%';
}

.cardContent {
  flex-grow: 1,
}

.footer {
  background-color: #424242;
  padding: 48px;
}

.hidden {
  display: none;
}